# This file contains default values which are used
# by the salt states deploying your project.
# you may copy them to your relevant PILLAR file
# before editing them.
# If you need to add variables, this is where to begin.
# Please keep defaults in there, but real passwords
# must be putted inside pillar
#
# replace project_name in your pillar by
# the current projectname
# you can also merge parts of this file
# with the relevant pillar

# makina-states mysql configuration (copy in your pillar,
#                                    uncomment and edit)
# makina-states.services.db.mysql.available_mem: 1500
# corpus mysql project configuration
makina-projects.projectname:
  data:
    index: index.php
    domain: '{fqdn}'
    server_aliases: [enketo.foo.net]
    mail: sysadmin@foo.com
    cron_periodicity: "*/30 * * * *"
    password: "secret"
    www_dir: '{project_root}/www'
    htaccess: '/etc/{name}.webaccess'
    nginx_vhost: "salt://makina-projects/{name}/files/nginx.conf"
    nginx_top: "salt://makina-projects/{name}/files/nginx.top.conf"
    # http_users:
    #   - root: foo
    fpm_sock: "{project_root}/var/run/fpm.sock"
    configs:
      - Code_Igniter/application/config/database.php
      - Code_Igniter/application/config/enketo.php
    enketo_key: '5aa'
    formhub_hosts:
        - host: "http://formhub"
          token: AAAA
    google_map_key: 'AAAA'
    integration_with_url: 'http://formhub.t.fr'
    admin: 'postmaster@{fqdn}'
    db_name: enketo
    db_host: 127.0.0.1
    db_port: 3306
    db_user: enketo
    db_collat: utf8_unicode_ci
    db_password: xLn30V2CEphVHYb
    fpm_pool:
      open_basedir:
        - "{data_root}/enketo"
        - "{data_root}/www"
        - "{data_root}/var/log"
        - "{data_root}/var/tmp"
        - "{data_root}/var/private"
        - "{project_root}/www"
        - "{project_root}/lib"
        - "{project_root}/var/tmp"
        - "{project_root}/var/private"
      include_path:
        - "{project_root}/www"
        - "{project_root}/lib"
      socket_name: "{fpm_sock}"
      session_auto_start: 0
      allow_url_fopen: 1
      upload_max_filesize: "25000M"
      max_input_vars: 3000
      fpm_user: "{user}"
      fpm_group: "www-data"
      memory_limit: "256M"
      modules:
        apc:
          user_entries_hint: 1000
          num_files_hint: 2000
          ttl: 0
          user_ttl: 300
          gc_ttl: 0
          shm_size: "64M"

# vim:set ft=yaml:
